.join-toolbar {
    padding: 10px;

    span {
        vertical-align: super;
    }
}

.join-header {
    font-size: 40px;
    line-height: 110%;
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 50px;
}

mat-form-field {
    display: block;
}

.join-form {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
}

.join-forgot-password {
    text-align: right;
    margin-bottom: 50px;
}

.join-button {
    width: 100% !important;
    min-width: unset !important;
}

.join-or {
    text-align: center;
    margin-top: 20px;
}

.join-footer-tnc {
    margin-top: 20px;
}

.join-registration-success {
    font-size: 24px;
    line-height: 110%;
    margin: 50px 20px;
}

.join-registration-success-button {
    width: 100% !important;
    min-width: unset !important;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
}