<div class="home-button">
  <button mat-button color="primary" (click)="redirectToJoin()">Join Now</button>
  <button mat-stroked-button color="primary" (click)="redirectToLogin()">Sign In</button>
</div>
<div class="home-logo">
  <img src="assets/logo.png" alt="Logo">
</div>
<div class="home-logo-text">
  <h1>QUACK!</h1>
</div>
<mat-list role="list" class="home-footer">
  <mat-list-item role="listitem"><button mat-raised-button color="primary" class="home-footer-button">Learn More</button></mat-list-item>
  <mat-list-item role="listitem"><button mat-raised-button color="primary" class="home-footer-button">Explore</button></mat-list-item>
</mat-list>
